header, main, footer { display: block; }

header {
    width: 40%;
    height: 20%;
    margin: 0 auto;
}

header h1 {
    font-size: 5em;
    font-family: "Josefin Sans";
    font-weight: 100;
    width: 100%;
    text-align: center;
}

main {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
}

main p {
	margin-bottom: 10;
}

main input {
	margin-top: 5px;
}

main ul {
	list-style: none;
}

main ul li {
	display: inline;
	margin-left: 10px;
}