header, main, footer { display: block; }

html, body {
    padding: 0;
    margin: 0;
}

section {
    width: 50%;
    float: left;
}

section#search {
    transition: width 500ms linear;
}

section#search.initial {
    width: 100%;
}

header {
    width: 40%;
    height: 20%;
    margin: 0 auto;
}

header h1 {
    font-size: 5em;
    font-family: "Josefin Sans";
    font-weight: 100;
    width: 100%;
    text-align: center;
}

section#search div {
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
}

section#search div input {
	margin-top: 5px;
}

section#result ul {
	list-style: none;
    padding-left: 0;
}

section#result ul li {
    padding: 5px 0;
}

section#result ul li .title {
    display: block
}
