header, main, footer { display: block; }

html, body {
    padding: 0;
    margin: 0;
}

section {
    box-sizing: border-box;
    margin: 100px 0;
    width: 50%;
    float: left;
}

section#search {
    transition: width 300ms linear;
}

section#result {
    padding: 20px 30px;
    border-left: 1px darkgrey solid;
    transition: opacity 300ms linear;
}

section#search.initial {
    width: 100%;
}

section#result.initial {
    opacity: 0;
}

header {
    width: 40%;
    height: 20%;
    margin: 0 auto;
}

header h1 {
    font-size: 5em;
    font-family: "Josefin Sans";
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: 0.6em 0;
}

section#search div {
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
}

section#result ul {
	list-style: none;
    padding-left: 0;
}

section#result ul li, section#result > h2 {
    margin: 0;
    width: 300px;
    padding: 5px 10px;
    border-bottom: 1px lightgrey solid;
}

section#result ul li .title {
    display: block
}

section#search input {
    display: block;
	height: 50px;
	font-size: 1.5em;
	margin: 0 auto;
    transition: opacity 300ms linear;
}

section#search input:disabled {
    opacity: 0.3;
}

section#search input[type="text"] {
	overflow: hidden;
	width: 300px;
	border: 1px #777777 solid;
	padding: 0 0.5em;
}

section#search input:focus {
	outline: 0;
}

section#search input[type="submit"] {
    border-radius: 0;
	border: 1px #777777 solid;
    border-top: 0;
	width: calc(300px + 1em + 2px);
    background-color: #2ecc71;
    font-family: inherit;
    font-style: inherit;
    font-weight: 200;
    transition: background-color 40ms linear;
}

section#search input[type="submit"]:active {
    background-color: #27ae60;
}
